<!DOCTYPE html>
<html lang="zh-cn">
    <head>
        <meta charset="UTF-8">
        <title>Piano</title>
        <link rel="icon" href="./image/favicon.ico">
        <style type="text/css">
            .keyboard{
                position:fixed;
                bottom:0;
                height:18%;
                width:(1920/52)px;
                background-color: red;
            }
            .white-key{
                background-color: #ffffff;
                float:left;
                height:100%;
                border:1px solid black;
            }
            .black-key{
                background-color: #000000;
                float:left;
                height:100%;
                width: 0px;
                border:1px solid black;
            }
        </style>
        <link rel="stylesheet" href="./assets/js/layui/css/layui.css"  media="all">
    </head>
    <body>
        <div class="keyboard">
            <div id="key_1"  class="white-key"></div>
            <div id="key_2"  class="black-key"></div>
            <div id="key_3"  class="white-key"></div>
            <div id="key_4"  class="white-key"></div>
            <div id="key_5"  class="black-key"></div>
            <div id="key_6"  class="white-key"></div>
            <div id="key_7"  class="black-key"></div>
            <div id="key_8"  class="white-key"></div>
            <div id="key_9"  class="white-key"></div>
            <div id="key_10" class="black-key"></div>
            <div id="key_11" class="white-key"></div>
            <div id="key_12" class="black-key"></div>
            <div id="key_13" class="white-key"></div>
            <div id="key_14" class="black-key"></div>
            <div id="key_15" class="white-key"></div>
            <div id="key_16" class="white-key"></div>
            <div id="key_17" class="black-key"></div>
            <div id="key_18" class="white-key"></div>
            <div id="key_19" class="black-key"></div>
            <div id="key_20" class="white-key"></div>
            <div id="key_21" class="white-key"></div>
            <div id="key_22" class="black-key"></div>
            <div id="key_23" class="white-key"></div>
            <div id="key_24" class="black-key"></div>
            <div id="key_25" class="white-key"></div>
            <div id="key_26" class="black-key"></div>
            <div id="key_27" class="white-key"></div>
            <div id="key_28" class="white-key"></div>
            <div id="key_29" class="black-key"></div>
            <div id="key_30" class="white-key"></div>
            <div id="key_31" class="black-key"></div>
            <div id="key_32" class="white-key"></div>
            <div id="key_33" class="white-key"></div>
            <div id="key_34" class="black-key"></div>
            <div id="key_35" class="white-key"></div>
            <div id="key_36" class="black-key"></div>
            <div id="key_37" class="white-key"></div>
            <div id="key_38" class="black-key"></div>
            <div id="key_39" class="white-key"></div>
            <div id="key_40" class="white-key"></div>
            <div id="key_41" class="black-key"></div>
            <div id="key_42" class="white-key"></div>
            <div id="key_43" class="black-key"></div>
            <div id="key_44" class="white-key"></div>
            <div id="key_45" class="white-key"></div>
            <div id="key_46" class="black-key"></div>
            <div id="key_47" class="white-key"></div>
            <div id="key_48" class="black-key"></div>
            <div id="key_49" class="white-key"></div>
            <div id="key_50" class="black-key"></div>
            <div id="key_51" class="white-key"></div>
            <div id="key_52" class="white-key"></div>
            <div id="key_53" class="black-key"></div>
            <div id="key_54" class="white-key"></div>
            <div id="key_55" class="black-key"></div>
            <div id="key_56" class="white-key"></div>
            <div id="key_57" class="white-key"></div>
            <div id="key_58" class="black-key"></div>
            <div id="key_59" class="white-key"></div>
            <div id="key_60" class="black-key"></div>
            <div id="key_61" class="white-key"></div>
            <div id="key_62" class="black-key"></div>
            <div id="key_63" class="white-key"></div>
            <div id="key_64" class="white-key"></div>
            <div id="key_65" class="black-key"></div>
            <div id="key_66" class="white-key"></div>
            <div id="key_67" class="black-key"></div>
            <div id="key_68" class="white-key"></div>
            <div id="key_69" class="white-key"></div>
            <div id="key_70" class="black-key"></div>
            <div id="key_71" class="white-key"></div>
            <div id="key_72" class="black-key"></div>
            <div id="key_73" class="white-key"></div>
            <div id="key_74" class="black-key"></div>
            <div id="key_75" class="white-key"></div>
            <div id="key_76" class="white-key"></div>
            <div id="key_77" class="black-key"></div>
            <div id="key_78" class="white-key"></div>
            <div id="key_79" class="black-key"></div>
            <div id="key_80" class="white-key"></div>
            <div id="key_81" class="white-key"></div>
            <div id="key_82" class="black-key"></div>
            <div id="key_83" class="white-key"></div>
            <div id="key_84" class="black-key"></div>
            <div id="key_85" class="white-key"></div>
            <div id="key_86" class="black-key"></div>
            <div id="key_87" class="white-key"></div>
            <div id="key_88" class="white-key"></div>
        </div>
    </body>
    <script src="./assets/js/jquery/jquery-3.5.1.min.js"></script>
    <script src="./assets/js/layui/layui.js" charset="utf-8"></script>
    <script>
        var windowWidth = 0;
        //用来存放每个键位对应的琴键的颜色0-87个键，0代表白色，1代表黑色
        var keyArray = new Array("0","1","0","0","1","0","1","0","0","1","0","1","0","1","0","0","1","0","1","0","0","1","0","1","0","1","0","0","1","0","1","0","0","1","0","1","0","1","0","0","1","0","1","0","0","1","0","1","0","1","0","0","1","0","1","0","0","1","0","1","0","1","0","0","1","0","1","0","0","1","0","1","0","1","0","0","1","0","1","0","0","1","0","1","0","1","0","0");
        $(function(){
            if (navigator.requestMIDIAccess) {
                console.log('该浏览器支持 WebMIDI!');
            } else {
                console.log('WebMIDI 不被该浏览器支持。');
            }
            windowWidth = $(document).width();
            console.log(windowWidth);
        });

        navigator.requestMIDIAccess().then(onMIDISuccess, onMIDIFailure);

        function onMIDISuccess(midiAccess) {
            for (var input of midiAccess.inputs.values())
                input.onmidimessage = getMIDIMessage;
        }

        function onMIDIFailure() {
            console.log('无法访问你的 MIDI 设备。');
        }

        function getMIDIMessage(message) {
            //注意下面三个变量
            //命令类型值为 144 时，表示“note on”事件，128 则表示“note off”事件。
            //note 值的范围为 0-127。例如，在88键钢琴上，最小的值为 21，最大的值为 108。“C 中键”的值为 60。
            //力度值的范围也是 0-127 （最温和到“最喧闹”）。事实上可能的最温和的“note on”时的力度值为 1。
            //有时会将 144 命令类型值伴随着 0 力度值来表示“note off”消息，所以对于 0 力度值得检查也是识别“note off”所必要的。
            var command = message.data[0];
            var note = message.data[1];
            var velocity = (message.data.length > 2) ? message.data[2] : 0; // 在 noteoff 命令中，不一定会包含 velocity 值
            switch (command) {
                case 144: // noteOn
                    if (velocity > 0) {
                        noteOn(note, velocity);
                    } else {
                        noteOff(note);
                    }
                    break;
                case 128: // noteOff
                    noteOff(note);
                    break;
                // we could easily expand this switch statement to cover other types of commands such as controllers or sysex
                // 我们也以可非常容易地扩展这个 switch 语句来覆盖其他类型的命令
            }
        }

        function noteOn(note,velocity){
            console.log(note+"-----"+velocity);
            const keyNum = note - 20;
            $("#key_"+keyNum).css("background-color","red");
        }

        function noteOff(note){
            const keyNum = note - 21;
            const keyColor = keyArray[keyNum]==0?"white":"black";
            $("#key_"+(keyNum+1)).css("background-color",keyColor);
            console.log(note);
        }
    </script>
</html>